<!DOCTYPE html>
{% load static %}
{% load rmr_template_tags %}
<html>
    <head>
        <link rel="stylesheet"	type="text/css"	href="{% static 'stylesheet.css' %}"/>	
        <title>rmr -
        {% block title_block %}
            How to Tango with Django!
        {% endblock %}
        </title>

          
    </head>
    <body>
            <div class="navbar">
                <ul>
                    <li><a  href="{% url 'rmr:index' %}">Home</a></li>
                    <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Categories</a>
                        <div class="dropdown-content">
                            {% for category in categories %}
                                <a href="{% url 'rmr:show_category' category.slug %}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                   {% if user.is_authenticated %}
                        <li><a href="{% url 'rmr:logout' %}">Logout</a></li>
                        <li><a href="{% url 'rmr:add_recipe' username=user.username %}">Add a New Recipe</a></li>
                        <li class="nav-item">
                          <a class="nav-link{% if request.path == '/userprofile/' %} active{% endif %}" href="{% url 'rmr:userprofile' username=request.user.username %}">
                            My account
                          </a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'rmr:register' %}">Sign Up</a></li>
                        <li><a href="{% url 'rmr:login' %}">Login</a> </li>
                    {% endif %}

                </ul>
            </div>


        <div>
        {% block body_block %}
            Default.
        {% endblock %}
        </div>
<!--        <div>-->
<!--            {% block sidebar_block %}-->
<!--                {% get_category_list category %}-->
<!--            {% endblock %}-->
<!--        </div>-->
        <hr />
        <!--
        <div>
          <ul>
          {% if user.is_authenticated %}
              <li><a href="{% url 'rmr:restricted' %}">Restricted Page</a></li>
              <li><a href="{% url 'rmr:logout' %}">Logout</a></li>
              <li><a href="{% url 'rmr:add_category' %}">Add a New Category</a></li>
              <a href="{% url 'rmr:userprofile' username=request.user.username %}">my account</a>
              {% else %}
              <li><a href="{% url 'rmr:register' %}">Sign Up</a></li>
              <li><a href="{% url 'rmr:login' %}">Login</a> </li>
              {% endif %}
              <li><a href="{% url 'rmr:about' %}">About</a></li>
              <li><a href="{% url 'rmr:index' %}">Index</a></li>
          </ul>
        </div>
        -->
    </body>
</html>