{% extends 'rmr/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
        <h1>Rate my recipe</h1>
        <div>
            {% if user.is_authenticated %}
           <p>Hello, {{ user.username }}! </p> 
            
            {% endif %}
            <p> Browse recipes now!</p>
            <br />
        </div>
        <div>
        {% if categories_sorted %}
        <!-- change to if recipes, for category in categories etc -->
            <h2>Higest Rated Recipes</h2>
            <ul>
            {% for category in categories_sorted %}
                <li><a href="{% url 'rmr:show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no recipes present.</strong>
        {% endif %}
        </div> 
        
        <div>
        <!-- sort by views -->
        
            <h2>Popular Recipes</h2>
            {% if recipes %}
            <ul>
            {% for recipe in recipes %}
                <li><a href="{{ recipe.title }}">{{ recipe.image }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
        </div>
      
{% endblock %}
