{% extends 'rmr/base.html' %}
{% load static %}

{% block title_block %}
    {% if recipe %}
      {{ recipe.title }}
    {% else %}
        Unknown recipe
    {% endif %}
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipe.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

{% endblock %}

{% block body_block %}
    {% if recipe %}
    <div class="container my-5">
        <div id="html2pdf">
            <div class="row recipe-header mb-4">
                <div class="col-md-8">
                    <h1 class="mb-0">{{ recipe.title }}</h1>
                    <p class="recipe-stats mb-0">Views: {{ recipe.views }}</p>
                    <div>
                        <button id="pdf">Download PDF</button>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    {% if user.is_authenticated %}
                    <a href="{% url 'rmr:add_recipe' username=request.user.username %}" class="btn btn-primary">Add a New Recipe</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    {% if recipe.image %}
                    <div class="recipe-image mb-4">
                        <img src="{{ MEDIA_URL }}{{ recipe.image }}" alt="Picture of the dish." class="img-fluid" />
                    </div>
                    {% endif %}
                    <div class="recipe-description mb-4">
                        <h3>Description</h3>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="recipe-instructions mb-4">
                        <h3>Instructions</h3>
                        <p>{{ recipe.instructions }}</p>
                    </div>
                    {% if not user.is_anonymous %}
                    <div class="recipe-rating">
                        {% if rating %}
                        <h3>Your rating:</h3>
                        <p>Rating: {{ rating.rating }} </p>
                        <p>Comment: {{ rating.comment }}</p>
                        {% else %}
                        <h3>Leave your comment</h3>
                        <form id="rating_form" method="post" action="{% url 'rmr:show_recipe' recipe.category.slug recipe.slug %}">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                {{ field.errors }}
                                {{ field.help_text }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Create Rating</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'rmr:show_category' recipe.category.slug %}" class="recipe-category-link">View All Recipes in {{ recipe.category.name }}</a>
            </div>
        </div>
    </div>
    {% else %}
    The specified recipe doesn't exist
    {% endif %}
   
 
{% endblock %}
