{% extends 'rmr/base.html' %}
{% load static %}

{% block title_block %}
    {% if recipe %}
      {{ recipe.title }}
    {% else %}
        Unknown recipe
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if recipe %}
    <div class="container">
        <h1>{{ recipe.title }}</h1>
        <div class="recipe-stats">
            views: {{ recipe.views }}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if recipe.image %}
                <div class="mb-3">
                    <img src="{{ MEDIA_URL }}{{ recipe.image }}" alt="Picture of the dish." class="img-fluid" />
                </div>
                {% endif %}
                <div class="mb-3">
                    <h3>Description</h3>
                    <p>{{ recipe.description }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <h3>Instructions</h3>
                    <p>{{ recipe.instructions }}</p>
                </div>
                {% if not user.is_anonymous %}
                <div class="mb-3">
                    {% if rating %}
                    <h3>Your rating:</h3>
                    <p>Rating: {{ rating.rating }} </p>
                    <p>Comment: {{ rating.comment }}</p>
                    {% else %}
                    <h3>Leave your comment</h3>
                    <form id="rating_form" method="post" action="{% url 'rmr:show_recipe' recipe.category.slug recipe.slug %}">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                           {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                            {{ field.errors }}
                            {{ field.help_text }}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Create Rating</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="mt-3">
            <a href="{% url 'rmr:add_recipe' username=request.user.username %}" class="btn btn-primary">Add a New Recipe</a>
        </div>
        {% endif %}
    </div>
    {% else %}
    The specified recipe doesn't exist
    {% endif %}
{% endblock %}
