{% extends 'rmr/base.html' %}
{% load static %}

{% block title_block %}
    {% if recipe %}
      {{ recipe.title }}
    {% else %}
        Unknown recipe
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if recipe %}
    <h1>{{ recipe.title }}</h1>
    {% if recipe.image %}
    <div>
        <img src="{{ MEDIA_URL }}{{ recipe.image }}" alt="Picture of the dish." />
    </div>
    {% endif %}
    <p>{{ recipe.description }}</p>
    <p>{{ recipe.instructions }}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'rmr:add_recipe' username=request.user.username %}">Add a New Recipe</a><br />
    {% endif %}
    <div>
        {% if not user.is_anonymous %}
        {% if rating %}
        <div>
            <h3>your rating:</h3>
            rating: {{ rating.rating }} <br />
            comment: {{ rating.comment }}
        </div>
        {% else %}
        <h3>Leave your comment</h3>
        <form id="rating_form" method="post" action="{% url 'rmr:show_recipe' recipe.category.slug recipe.slug %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
               {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
        <input type="submit" name="submit" value="Create Rating" />
      </form>
        {% endif %}
    </div>
    {% endif %}
    {% else %}
    The specified recipe doesn't exist
    {% endif %}
{% endblock %}