{% extends 'rmr/base.html' %}
{% load static %}

{% block title_block %}
        Register
{% endblock %}

{% block head_block %}

    <script src="{% static 'register.js' %}"></script>
    <script>
      const register_url="{% url 'rmr:register' %}"
      const login_url="{% url 'rmr:login' %}"
    </script>

{% endblock %}


{% block body_block %}
<section class="vh-100">
  <div class="mask d-flex align-items-center h-100 gradient-custom-1">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card hover-box" style="border-radius: 25px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Join RMR</h2>

              <form id="register-form" method="post" action="{% url 'rmr:register' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-outline mb-4">
                  <label class="form-label" for="{{ user_form.username.auto_id }}">Username</label>
                    <input type="text" id="{{ user_form.username.auto_id }}" name="{{ user_form.username.html_name }}" class="form-control " required />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="{{ user_form.email.auto_id }}">Email</label>

                  <input type="email" id="{{ user_form.email.auto_id }}" name="{{ user_form.email.html_name }}" class="form-control " required />
                </div>

                 <div class="form-outline mb-4">
                     <label class="form-label" for="{{ user_form.password.auto_id }}">Password</label>
                    <input type="password" id="{{ user_form.password.auto_id }}" name="{{ user_form.password.html_name }}" class="form-control " required />
                </div>


                <div class="d-flex justify-content-center">
                  <input type="submit" id="register-button" name="submit" value="Register" class="btn btn-primary btn-block btn-lg gradient-custom-2 text-body" />
                </div>

                <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="{% url 'rmr:login' %}" class="fw-bold text-body"><u>Log in here</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
