{% extends 'rmr/base.html' %}
{% load static %}

{% block title_block %}
{{ userprofile.user.username }}'s Profile

{% endblock %}

{% block head_block %}
    <script src="{% static 'toasts.js' %}"></script>
{% endblock %}

{% block body_block %}
{% if max_views %}
        <div class="toast" id="myToast" data-delay="10000"  style="position: absolute; top: 1; right: 0; z-index:1;">
        <div class="toast-header">
            <strong class="mr-auto toast-placeholder"><i class="fa fa-grav"></i> Good job pal! </strong>
            <small>Just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body toast-placeholder">
            Your recipes have been viewed {{ max_views }} times!</a>
        </div>
    </div>
{% endif %}
<h1>{{ userprofile.user.username }}'s Profile</h1>
<p>Email: {{ userprofile.user.email }}</p>
<h2>{{ userprofile.user.username }}'s Uploaded Recipes:</h2>

{% if recipes %}
{% for recipe in recipes %}
{% if recipe.views > 1000 %}
        <script> alert("Congratulations! One of your recipes has over 1000 views!")</script>
{% endif %}

<div class="recipe">
    <li>
        <a href="{% url 'rmr:show_recipe' recipe.category.slug recipe.slug %}">{{ recipe.title }}</a>

    </li>

</div>
{% endfor %}

{% else %}
<p>No recipes uploaded yet.</p>
{% endif %}

<h2>{{ userprofile.user.username }}'s Ratings:</h2>
{% if ratings %}
{% for rating in ratings %}
<div class="rating">
    <li>
        <a href="{% url 'rmr:show_recipe' rating.recipe.category.slug rating.recipe.slug %}">{{ rating.recipe.title }}</a>
        <p>Your rating: {{ rating.rating }}</p>
        <p>Your comment: {{ rating.comment }}</p>
    </li>

</div>
{% endfor %}

{% else %}
<p>No ratings left yet.</p>
{% endif %}

{% if request.user.username == userprofile.user.username %}
<h2>Add a New Recipe:</h2>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ recipe_form.as_p }}
<a href="{% url 'rmr:add_recipe' username=userprofile.user.username %}">Add Recipe</a>


</form>
{% endif %}
{% endblock %}